*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100%;
    height: 100%;
    min-height: fit-content;
    background: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-clip{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    filter: brightness(1) contrast(1.2) saturate(1.9);
}

.content{
    border: 1px solid black;
    box-shadow: 10px 10px 0px;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    width: 50%;
    min-width: 320px;
    max-height: 90%;
    height: fit-content;
}

.box1-form{
    display: flex;
    justify-content: center;
}

form{
    margin: 40px 20px;
    font-family: "Poppins";
}

form h1{
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.rating-sytem{
    height: fit-content;
    width: 100%;
    margin-top: 20px;
}

.rating-sytem h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.rating-sytem input{
    display: none;
}

.rating-sytem input + label{
    font-size: 40px;
    text-shadow: 1px 1px 0px;
    cursor: pointer;
}

.rating-sytem input:checked + label ~ label{
    color: white;
}

.rating-sytem label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}

.star-icon{
    margin-bottom: 10px;
}

textarea{
    resize: none;
    padding: 5px 7px;
    font-family: "Poppins";
}

#submit{
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: bolder;
}

#submit:hover{
    transform: scale(1.1);
    transition: 0.3s ease all;
}

.name{
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
}

form input{
    border-radius: 5px;
    padding-left: 5px;
}

.messagebox{
    font-weight: bolder;
}

.page2{
    border: 2px solid black;
    padding: 20px 20px;
    box-shadow: 10px 10px black;
    backdrop-filter: blur(3px);
}


@media (min-width:200px) and (max-width:728px) {
    .container h1{
        font-size: 1.5rem;
    }

    .name{
        font-size: 1rem;
        padding: 5px;
    }

    .rating-sytem h2{
        font-size: 1rem;
    }

    .rating-sytem input + label{
        font-size: 30px;
    }

    textarea{
        width: 100%;

    }

    input{
        width: 70%;
    }
}